.login-form,
.register-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.form-row {
  display: flex;
  margin: 10px 0;
  align-items: flex-end;
}

.form-label {
  width: 100px;
  text-align: left;
  font-size: 0.975rem;
}
.form-control {
  flex: 1;
}

input.form-control {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 5px 10px;
}

input.form-control:focus {
  outline-color: rgb(126, 233, 126);
}

input.form-control::placeholder {
  color: #c6c6c6;
}

.action-container {
  display: flex;
  justify-content: flex-end;
}
